<link rel="stylesheet" type="text/css" href="{{asset '/stylesheets/css/style.css'}}">

<section class="login">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
              <button class="btn btn-primary">Click Me</button>
            </div>
        </div>
    </div>
</section>